*{
margin:0px;
padding: 0px;
box-sizing: border-box;
}
.Navbar{
height: 100px;
max-width: 900px;
background-color: chocolate;
margin: auto;
display: flex;
justify-content: space-between;
}
.Navbar img{
  background: chocolate;
}
input{
height: 40px;
width: 300px;
border-radius: 10px;
margin-top: 25px;
}
h1{
  margin:10px;
  font-size: 30px;
  height: 50px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;  
}
.Navbar button{
  height: 40px;
  width: 100px;
  background-color: rgb(243, 133, 8);
  border-radius: 5px;
  
}
.home{
  background-color: aqua;
  max-width: 900px;
  margin: auto;
}
.animelist{
  display:grid;
  grid-template-rows: 1fr 1fr ;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
background-color: rgb(34, 165, 165);
max-width: 900px;
margin: auto;
}
.anime{
  background-color: rgb(144, 144, 187);
  border-radius: 10px;
 padding: 5px;
  margin: 20px;
}
.anime button{
margin-left: 0px;
background: transparent;
/* color: red; */


}

.anime button:active{
  transform: scale(1,1.3);
  color: red ;
}

